body {
    font-size: 18px;
    line-height: 1.5;

}

header, nav, main {
    margin: 1.25rem auto; 
    max-width: 760px; 
}

header{
    background-color: green; 
    color:aliceblue; 
    text-align:left; 
    padding: 1.5rem; 
}
.my-photo{
    float: left;
    margin: 10px; 
    border: 1px solid black; 
}

footer {
    background-color: green; 
}