/* *{
    border: 1px solid black; 
}*/ 
body {
    display:grid;  
    font-size: 18px;
    line-height: 1.5;

}

header, nav, main {
    margin: 1.25rem auto; 
    max-width: 760px; 
}

header{
    background-color: seagreen; 
    display: grid;
    grid-template-columns: 300px auto; 
    align-items: center; 
    width: 700px; 
    margin: 0 auto; 
    border-radius: 4px;
    font-size: 22px; 
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 5px 8px;
    }

.home-h2{
    align-items: center; 
    max-width: 500px; 
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
}
.my-photo {
    float: left;
    margin: 10px; 
    box-shadow: 5px 5px;
    border-radius: 8px;
    max-width: 100%;
    height: auto;
}
.home-grid {
    width: 700px; 
}

footer {
    font-family: Arial, Helvetica, sans-serif; 
    background-color: seagreen; 
    padding-top: 10px; 
    padding-bottom: 15px; 
    text-align: center; 
    width: 700px; 
    align-items: center;
    margin: 0 auto;
    border-radius: 4px;
    font-size: 18px;
    box-shadow: 5px 8px;
    
}