/* *{
    border: 1px solid black; 
    margin 0 padding 0 in the body 
}*/ 
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Raleway&display=swap');
body {
    display:grid;  
    font-size: 18px;
    line-height: 1.5;
    background-color: #acc2ac;

}

header, nav, main {
    margin: 1.25rem auto; 
    max-width: 760px; 
}

header{
    background-color: seagreen; 
    display: grid;
    grid-template-columns: 300px auto; 
    align-items: center; 
    width: 700px; 
    margin: 0 auto; 
    border-radius: 4px;
    font-size: 22px; 
    color:  rgb(110, 105, 105);
    font-family: 'Nanum Gothic', sans-serif;
    box-shadow: 5px 8px 20px;
    }

    header{
       color:  rgb(61, 57, 57);
    }
.home_page_list{
    color:  rgb(110, 105, 105);
}
.home-h2{
    align-items: center; 
    max-width: 500px; 
    text-decoration: underline;
    font-family: 'Raleway', sans-serif;
    color:  rgb(110, 105, 105);
}
.my-photo {
    float: left;
    margin: 10px; 
    box-shadow: 5px 5px 20px;
    border-radius: 8px;
    max-width: 100%;
    height: auto;
}
.home-grid {
    width: 700px; 
}

footer {
    font-family: 'Nanum Gothic', sans-serif;
    background-color: seagreen; 
    padding-top: 10px; 
    padding-bottom: 15px; 
    text-align: center; 
    width: 700px; 
    align-items: center;
    margin: 0 auto;
    border-radius: 4px;
    font-size: 18px;
    box-shadow: 5px 8px 20px;
    color:  rgb(110, 105, 105);
}
footer{
    color:  rgb(61, 57, 57);
}