@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Rubik:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
 
}
h1, h2, h3{
    font-family: 'Arsenal', sans-serif;
    margin:20px; 
    text-align: center;
}


p{
    font-family: 'Readex Proe', sans-serif;
    text-align: center;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .top-container {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
  }
  
  .header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
      padding: 10px 16px;
    background: white;
    color: black;
    box-shadow: 10px 10px 25px black;
  }
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 102px;
  }
  /* HOME PAGE HEADER */
  .head_logo{
    height:8vh;
    padding-right:100px; 
 }
  .top_head{
    background-color: #20481A;
    color:white; 
  }
  .head_p{
    text-align: left;
  } */
  
   #primaryNav{
    display:flex;
    text-align: center;
    text-decoration: none;
    /* padding-left: 145px;  */
    justify-content: space-between;
    font-size: 12px; 
  }

  a:link {
   text-decoration: none;
  }
  a:visited {
    color: black;
  }
  
  a:hover {
    color: #939393;
  }
  
  a:active {
    color: #478a3c;
  }
  .book_now{
    background-color: black; 
    color: white;
    width:70px; 
    height: 40px; 
    border-radius: 5px; 
  }
  
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
  /* width:65px;  */
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.menu::before {
	content: "≡";
	font-size: 2rem;
}

.navigation a:hover, navigation a:active {
	color: white;
	background-color: black;
}


.responsive li {
	display: block;
}

.responsive a.menu::before {
	content: "x";
}

@media only screen and (min-width: 700px) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
}
.temp1_image{
width:100%; 
}
.home_image2{
  display:none; 
}
.map_box{
  width:90%;
  height:200px; 
  
}
/* HOME PAGE */
.home_content{  
  display: grid; 
  grid-template-columns: 1fr 1fr;
  grid-gap:40px; 
  
}
.hero_image{
  grid-column: 1/3; 
  position: relative; 
  
 
}
.hero_button_div{
  position: absolute;
  bottom: -1em;
     
}
.book_now2{
  color:white;
  background-color: black; 
  width:100px; 
  height: 40px; 
  border-radius: 5px;
  padding: 20px 30px;
  font-size: 2rem
}

.book_now2:hover{
  color: black; 
}
.home_intro{
  grid-column: 1/3;
}
.image_info_container{
  grid-column: 1/3;

}
.htemple_image{
   grid-column: 1/3;
   width:100%
  
}
.temple_inside{
  display:none; 
}

.book_info{
  display:none; 
  top: 2px; 
  left:290px;  
  box-shadow:4px 4px 25px   black; 
  background-color:white; 
  border: 2px black solid;
 
}
.image_info_container{
  padding-left: 65px;
   
}
.curr_weather{ 
text-align: center;
font-size:1.5rem; 
  
}
#icon-src{
  display:none; 
}

.home_intro{
  font-family: 'Noto Sans', sans-serif;
  padding:20px;
  font-size: 1.5rem;
  
}
.amenities{
  grid-column: 1/3;
  font-family: 'Noto Sans', sans-serif;
  padding:30px;
  font-size: 1.5rem;
  text-align: center;
}
.medium_image{
  display:none; 
}
/* FOOTER CONTENT */
footer{
  display:grid; 
  grid-template-columns: 1fr 1fr;
  background-color: #20481A;
  color: white;
  padding:20px;
  
}
.socials{
  padding-left:65px;
}
.foot_info, .foot_info1, .foot_info2{
  font-size:25px
  
}
.fa {
  padding: 15px;
  font-size: 20px;
  width: 15px;
  text-align: center;
  /* text-decoration: none; */
  margin: 5px 2px;
  border-radius: 50%;
}
.fa-instagram, .fa-facebook, .fa-twitter {
  background: white;
}
.foot_img{ 
  padding-top:10px;
  height:13vh;
}
.medium_loc, .medium_cont, .medium_foll{
  display:none

}
