@import url('https://fonts.googleapis.com/css2?family=Arsenal&family=Readex+Pro:wght@200&display=swap');
h1 {
    font-family: 'Arsenal', sans-serif;
}

p{
    font-family: 'Readex Proe', sans-serif;
}

.topnav{
    background-color: #0A122A;
    font-family: 'Arsenal', sans-serif;
    padding: 5px; 
    display:grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-content: center;
    justify-content: space-around;
    overflow: hidden;
    margin-top: 15px;
    
}


   .topnav a {
    float:left;
    display:block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .topnav button{
    margin:.2rem 2vw; 
    color:white; 
    background-color: transparent !important;;
    border: none; 
    font-size: 2rem; 
  }
  
  #primaryNav{
    display:none;
  }
  #primaryNav.open{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
#hamburgerBtn{
grid-column:3/4; 

}

  .date{
    grid-column: 1/4; 
    grid-row:2/3; 
     margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0.75rem;
	background-color: #eee;
    text-align: center; 
    
    
  }

  /* Change color on hover */
  .topnav a:hover {
    background-color: #698F3F;
    color: black;
  }

.page-logo{
width:50px;
float:left; 
}

.home-h1{
    color: #698F3F;
    font-size:10px;
}

.container{
    display:grid; 
    grid-template-columns: 1fr;
    margin: 50px; 
    background-color: #E7DECD;
}

.grid-item1{
background-color: #E7DECD;
padding:10%;
margin: 10px; 
border-style: solid; 
/*grid-column: 1/3;
grid-row: 3/7;
*/
}

.grid-item2{
    background-color: #698F3F;
    padding:10%;
    margin: 10px; 
    border-style: solid; 
}

.grid-item3{
    background-color: #FBFAF8;
    padding:10%;
    margin-bottom: 10px; 
    margin: 10px; 
    border-style: solid; 
}
#news-release{
    display:flex; 
    text-align: center;
    flex-flow: column wrap;
    
}

#join-child{
    display:flex; 
    text-align: center;
    flex-flow: column wrap;
}
#item2-child{
    display:flex; 
    text-align: center;
    flex-flow: column wrap;
}
#weather-box-child{
    display:flex; 
    text-align: center;
    flex-flow: column wrap;
}
#spotlight-1{
    display:flex; 
    text-align: center;
    flex-flow: column wrap;

}
#spotlight-2{
    display:flex; 
    text-align: center;
    flex-flow: column wrap;
    
}
#overline-sp1{
    text-decoration: overline;
}
#overline-sp2{
    text-decoration: overline;
}
#spotlight-3{
    display:flex; 
    text-align: center;
    flex-flow: column wrap;
}
.grid-item4{
    background-color: #698F3F;
    padding:10%;
    margin: 10px; 
    border-style: solid; 
}

.grid-item5{
    display:grid;
    grid-template-rows: 1fr 1fr;

}

.grid-item5-1{
    border-style: solid; 
    min-height: 135px;
      
}
.grid-item5-2{
    border-style: solid;
    background-color:#E7DECD; 

    
}
.grid-item5-3{
    display:none;
    border-style: solid; 
}

.grid-item5{
    background-color:#698F3F;
    margin: 10px; 
    border-style: solid; 
}
.footer-div1{
    background-color:#0A122A;
    text-align: center;
    color:#698F3F; 
    font-size:15px; 
    font-family: 'Arsenal', sans-serif;
}
.footer-div2{
    background-color:#0A122A;
    text-align: center;
    color:#698F3F; 
    font-size:15px; 
    font-family: 'Readex Proe', sans-serif;
}
.footer-div3{
    color:white; 
    background-color:#0A122A;
    text-align: center;
    font-size: 10px; 
    font-family: 'Readex Proe', sans-serif;
}
.page-logo-footer{
    padding-top: 20px;
    width: 15vh; 
}

.join-box{
    display:none;
    background-color:#FBFAF8;
    padding:10%;
    margin: 10px; 
    border-style: solid; 
}
.join_button{ 
  display:block; 
  width: 100%;
  border: none;
  background-color: #698F3F;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  border-radius:10px;

}

/* IMAGES FOR HOME PAGE BELOW*/
.hero-image{
    width: 100%;
    height: 100%;
}
#message-box{
    color:white; 
    display:none;
}
.msg-box{
    font-size: 'Readex Proe', sans-serif;
    text-align: center;
}
#item1-info{
    display: flex;

}