body { 
    background-color: bisque;
}
h1{ 
    color: rgb(49, 44, 44);
    text-align: center; 
}
.p_container{
    text-align: center;
    border: 2px solid rgb(49, 44, 44); 
    color: rgb(49, 44, 44); 
    background-color: rgb(70, 70, 46);
    color:white;
    box-shadow: 10px 10px 10px black;
}